<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Web Truyen Using API</title>
        <link href="./css/index.css" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
        <!-- <script type="text/javascript" src="./js/script.js"></script> -->

    </head>

    <body>

        <header>
            <a href="#" class="logo">WebTruyện</a>
            <div class="menu"></div>
            <nav>
                <ul>
                    <li><a href="/" >Home</a></li>
                    <!-- <li><a href="#" id="stories">Stories</a></li> -->
                    <li><a href="/register" id="register">Register</a></li>
                    <li><a href="#" id="login">Login</a></li>
                    <li><a href="/contact" id="contact" class="active">Contact</a></li>
                </ul>
            </nav>
            <div class="clearfloat"></div>
        </header>


        <p>
            Website designed by Nguyễn Huỳnh Như Thảo - MSSV: 17521064
        </p>
        <p>
            Email: 17521064@gm.uit.edu.vn
        </p>
        <p>
            Phone: 0343678906
        </p>
    </body>
</html>