<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Web Truyen Using API</title>
        <link href="./css/index.css" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
        <!-- <script type="text/javascript" src="./js/script.js"></script> -->

    </head>

    <body>
    
    <!-- code cho thanh công cụ -->
        <header>
            <a href="#" class="logo">WebTruyện</a>
            <div class="menu"></div>
            <nav>
                <ul>
                    <li><a href="#" class="active">Home</a></li>
                    <!-- <li><a href="#" id="stories">Stories</a></li> -->
                    <li><a href="/register" id="register">Register</a></li>
                    <li><a href="#" id="login">Login</a></li>
                    <li><a href="/contact"id="contact">Contact</a></li>
                </ul>
            </nav>
            <div class="clearfloat"></div>
        </header>

         <!-- stories page -->
        <h1>List Of Stories</h1>
            <article>
                <img src="images/canhmanhba.jpg" alt="anh canh manh ba" id="manhba" onclick="Change1();">
            <!-- <a href=""><img src="images/canhmanhba.jpg" alt="anh canh manh ba" id="manhba" onclick="Change();"></a> -->
                <a href="https://sstruyen.com/canh-manh-ba/">Canh Mạnh Bà</a>
            </article>

            <article>
                <img src="images/chungkienthantham.jpg" alt="anh chung kien than tham" id="thantham" onclick="Change2();">
                <!--<a href=""><img src="images/chungkienthantham.jpg" alt="anh chung kien than tham" ></a>-->
                <a href="https://sstruyen.com/chung-kien-than-tham/">Chứng Kiến Thần Thám</a>
            </article>

            <article>
                <img src="images/benxe.jpg" alt="anh ben xe" id="benxe" onclick="Change3();">
                <!--<a href=""><img src="images/benxe.jpg" alt="anh ben xe"></a>-->
                <a href="https://sstruyen.com/ben-xe/">Bến Xe</a>
            </article>

            <article>
                <img src="images/yeusaunang.jpg" alt="anh yeu sau nang" id="saunang" onclick="Change4();">
                <!--<a href=""><img src="images/yeusaunang.jpg" alt="anh yeu sau nang" id="thantham" onclick="Change2();></a>-->
                <a href="https://sstruyen.com/yeu-sau-nang-de-thieu-am-tham-cung-chieu-vo/">Yêu Sâu Nặng: Đế Thiếu Âm Thầm Cưng Chiều Vợ</a>
            </article>

            <article>
                <img src="images/trungsinhchiphuc.jpg" alt="anh trung sinh chi phuc" id="chiphuc" onclick="Change5();">
                <!--<a href=""><img src="images/trungsinhchiphuc.jpg" alt="anh trung sinh chi phuc"></a>-->
                <a href="https://sstruyen.com/trung-sinh-chi-phuc/">Trùng Sinh Chi Phúc</a>
            </article>

            <article>
                <img src="images/hoanggiasungtuc.jpg" alt="anh hoang gia sung tuc" id="sungtuc" onclick="Change6();">
                <!--<a href=""><img src="images/hoanggiasungtuc.jpg" alt="anh hoang gia sung tuc"></a>-->
                <a href="https://sstruyen.com/hoang-gia-sung-tuc/">Hoàng Gia Sủng Tức</a>
            </article>

            <article>
                <img src="images/butkyphancong.jpg" alt="anh but ky phan cong" id="phancong" onclick="Change7();">
                <!--<a href=""><img src="images/butkyphancong.jpg" alt="anh but ky phan cong"></a>-->
                <a href="https://sstruyen.com/but-ky-phan-cong-cua-nu-phu-phao-hoi/">Bút Ký Phản Công Của Nữ Phụ Pháo Hôi</a>
            </article>

            <article>
                <img src="images/khiemmimcuoi.jpg" alt="anh khi em mim cuoi" id="mincuoi" onclick="Change8();">
                <!--<a href=""><img src="images/khiemmimcuoi.jpg" alt="anh khi em mim cuoi"></a>-->
                <a href="https://sstruyen.com/khi-em-mim-cuoi/">Khi Em Mỉm Cười</a>
            </article>    
        
    </body>
</html>